body {
  padding-top: 70px;
}

body, html, #root, .row, .col-xs-12, .home {
  width: 100%;
  height: 100%;
}

.row, .col-xs-12 {
  padding: 0;
  margin: 0;
}

.container-fluid {
  height: 100%;
  width: 100%;
}
